.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*
{
  margin:0;
  box-sizing:border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./TEST IMAGE.jpg');
  background-size: auto;
  background-position: center;
  /* background-color: #D8BFD8; */
  margin: 180px;
}
.main
{
  width: 500px;
  background-color: white;
  color:#4B0082;
  border-radius: 10px;
  box-shadow: 0 0 30px 7px #7B68EE;
  padding:25px;
  margin-top: 60px;
}
.menu-btn
{
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #87CEEB;
    box-shadow: 0 0 10px 3px #483D8B;
    color: white;
}
.menu-btn:hover
{
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #000080;
    color: white;
}